<script lang="ts">
    // Copyright (c) 2020-2024 Jacques Desodt
    import Center from './Center.svelte';
    import Hand from './Hand.svelte';
    import HoursPane from './HoursPane.svelte';
    import MinutesPane from './MinutesPane.svelte';
    import {createEventDispatcher} from 'svelte';
    import {getDateFromHoursPosition, getDateFromMinutesPosition, getPosition} from '../scripts/positions.js';
    import {isAm} from '../scripts/dates.js';

    const dispatch = createEventDispatcher();
    // The class used to animate the hand when the pane change
    const TRANSITION_CLASS = '_tp-hasTransition';

    export let args = {
        bgColor: '#000000',
        clockClassName: '',
        is24h: false,
        minutesIncrement: 1,
        zIndex: 0
    };
    export let date = new Date();
    export let hoursSelected = true;

    // Local variables
    let amSelected: boolean;
    $: amSelected = isAm(date);
    let currentPosition = {x: 0, y: 0};
    let currentWidth = 0;
    let mouseDown = false;
    let transitionClass = TRANSITION_CLASS;

    // Handles the mouse down and touchstart event
    const handleMouseDown = (event: any) => {
        event.target.style.cursor = 'move';
        mouseDown = true;
        // No transition on the hand as the mouse move
        transitionClass = '';
        // Gets the canvas width (width = height)
        currentWidth = event.target.offsetWidth;
        // Computes the current position
        currentPosition = getPosition(event);
        // Updates the date when the mouse has moved
        updateDate();
        return false;
    };

    // Handles the mouse enter and touch enter event
    const handleMouseEnter = (event: any) => {
        event.target.style.cursor = 'default';
    };

    // Handles the mouse leave and touchcancel event
    const handleMouseLeave = () => {
        /* Resets the values */
        mouseDown = false;
    };

    // Handles the mouse move event and touchmove in the canvas. (0, 0) = center
    const handleMouseMove = (event: any) => {
        if (mouseDown) {
            // Computes the current position
            currentPosition = getPosition(event);
            // Updates the date when the mouse has moved
            updateDate();
        }
    };

    // Handles the mouse up and touchend event
    const handleMouseUp = (event: any) => {
        event.target.style.cursor = 'default';
        mouseDown = false;
        transitionClass = TRANSITION_CLASS;
        // Computes the current position
        currentPosition = getPosition(event);
        // Updates the date when the mouse events are ending
        updateDate();
        dispatch('change');
        // Propagates the change hour event
        if (hoursSelected) {
            dispatch('hourSelected');
        }
    };

    // Updates the date when a mouse event fires
    const updateDate = () => {
        // Checks the wrapper mode
        if (hoursSelected) {
            // Computes the date with the new hour
            date = getDateFromHoursPosition(date, currentPosition, currentWidth, args.is24h, amSelected);
        } else {
            // Computes the date with the new minute
            date = getDateFromMinutesPosition(date, currentPosition, args.minutesIncrement);
        }
    };

</script>

<div class="_tp-container {args.clockClassName}">
    <div class="_tp-clock">
        <!-- The hidden canvas used to manage the mouse events and positions -->
        <canvas style="z-index:{args.zIndex + 10};"
                on:mousedown|stopPropagation|preventDefault={handleMouseDown}
                on:touchstart|passive|stopPropagation={handleMouseDown}

                on:mouseenter|stopPropagation|preventDefault={handleMouseEnter}

                on:mouseleave|stopPropagation|preventDefault={handleMouseLeave}
                on:touchcancel|stopPropagation|preventDefault={handleMouseLeave}

                on:mousemove|stopPropagation|preventDefault={handleMouseMove}
                on:touchmove|passive|stopPropagation={handleMouseMove}

                on:mouseup|stopPropagation|preventDefault={handleMouseUp}
                on:touchend|stopPropagation|preventDefault={handleMouseUp}
        >
        </canvas>
        <!-- The clock hand -->
        <Center {args}/>
        <Hand {args} {hoursSelected} {transitionClass} {date}/>
        {#if hoursSelected}
            <HoursPane {args} {date}/>
        {:else}
            <MinutesPane {date}/>
        {/if}
    </div>
</div>

<style>
    canvas {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    ._tp-container {
        align-items: center;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        width: 100%;
    }

    ._tp-clock {
        background-color: #eee;
        border-radius: 50%;
        height: 16rem;
        position: relative;
        width: 16rem;
    }
</style>
